/* Earnings card */
span.currency{
    font-weight: normal;
    color: #79828b;
}
  
span.delta{
    color: #10c176;
}
  

@media (max-width: 991.98px) { 
    .chartContainer {
        height : 220px;
    }
}
