.headerBg {
  width: 100vw;
  height: 280px;
  background-image: linear-gradient(247deg, #6a79dd 127%, #5866c3 -24%);
  z-index: -10;
  position: absolute;
}

@media (max-width: 767.98px) {
  .headerBg {
    height: 350px;
  }
}
/* 
@media (max-width: 767.98px) and (max-height: 900px) { 
  .headerBg {
      height : 45vh;
  }
} */


p {
  margin: 0px 0px 0px 0px;
}

.card {
  border-radius: var(--card-border-radius);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.06);
  background-color: var(--card-bg-color);
}

p.title {
  font-size: 14px;
  font-weight: var(--card-title-fw);
  line-height: 1.07;
  letter-spacing: 1.5px;
  color: #79828b;
}

p.subtitle {
  font-size: 14px;
  font-weight: normal;
  color: #79828b;
}

p.emphasis {
  font-size: 30px;
  font-weight: var(--card-emphasis-fw);
  letter-spacing: 0.75px;
  color: #42505c;
}

p.heading {
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.25px;
  color: #42505c;
}

p.content {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #42505c;
}

p.rate {
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #42505c;
}

p.rate span {
  color: #79828b;
}

.divider {
  width: 100%;
  border: solid 0.5px #e6ebf0;
  border-radius: 8px;
  margin: 20px 0px 20px 0px;
}

.v-divider {
  width: 1px;
  height: calc(100% - 16px - var(--avatar-image-size));
  border: solid 0.5px #e6ebf0;
  border-radius: 8px;
  margin: 8px calc(var(--avatar-image-size)/2) 8px auto;
}

.button-outline,
.button-outline:focus {
  height: min-content;
  border-radius: 6px;
  border: solid 1px #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.07;
  letter-spacing: 1.75px;
  color: #ffffff;
  background-color: transparent;
  padding: 13px 24px 16px 24px;
  outline: none;
}

.button-outline:active {
  background-color: #6574f6;
  outline: none;
}

.button-solid,
.button-solid:focus {
  height: min-content;
  border-radius: 6px;
  background-color: #6574d6;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.07;
  letter-spacing: 1.75px;
  color: #ffffff;
  padding: 13px 24px 16px 24px;
  outline: none;
}

.button-solid:active {
  background-color: #6574f6;
  outline: none;
}


.chipGray {
  border-radius: var(--chip-border-radius);
  background-color: rgba(121, 130, 139, 0.1);
  font-size: 16px;
  font-weight: var(--chip-fw);
  color: #8d99a4;
  padding: 4px 14px 7px 14px !important;
  width: fit-content;
  height: fit-content;
}

.chipBlue {
  composes: chipGray;
  background-color: rgba(98, 113, 210, 0.1);
  color: #6271d2;
}

.chipOrange {
  composes: chipGray;
  background-color: rgba(210, 134, 98, 0.1);
  color: #d28e62;
}

/** Rank Card Specific styles **/
.rankCard img {
  width: 32px;
  height: 32px;
}

.rankCard p span {
  color: #10c172;
}


/* Section header */
a.sectionHeader,
a.sectionHeader:hover {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 1.5px;
  text-align: right;
  color: #79828b;
  text-decoration: none;
}

img.sectionHeader {
  width: 14px;
  height: 14px;
}
