.headerBg {
  height: 240px;
  background-image: linear-gradient(247deg, #6a79dd 127%, #5866c3 -24%);
  z-index: -10;
  position: static;
}


.card {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  padding: 24px;
}

.divider {
  width: 100%;
  border: solid 1px #e6ebf0;
  border-radius: 8px;
  margin : 20px 0px 20px 0px;
}

.chipGray {
  border-radius: 16px;
  background-color: rgba(121,130,139, 0.1);
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8d99a4;
  padding: 4px 12px 7px 12px !important;
  width: fit-content;
  height: fit-content;
}

.chipBlue {
  border-radius: 16px;
  background-color: rgba(98,113,210, 0.1) ;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6271d2;
  padding: 4px 12px 7px 12px !important;
  margin: 0px 10px 0px 0px;
  width: fit-content;
  height: fit-content;
}

.chipOrange {
  border-radius: 16px;
  background-color: rgba(210,134,98, 0.1);
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d28e62;
  padding: 4px 12px 7px 12px !important;
  margin: 0px 10px 0px 0px;
  width: fit-content;
  height: fit-content;
}


/** Rank Card Specific styles **/
.rankCard  h4 {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 1.5px;
  color: #79828b;
  margin-bottom: 16px;
}

.rankCard  div[name=rank] {
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  color: #42505c;
}

.rankCard img {
  width: 32px;
  height: 32px;
}

.rankCard p {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #79828b;
  margin-bottom: 0px;
}

.rankCard p span {
  color: #10c172;
}


/** Suggested Projects Card **/

.projectCard img {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.projectCard .content {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #42505c;
  margin: 24px 0px 0px 0px;
}

.projectCard .avatarName {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #42505c;
  margin: 0px;
}

.projectCard .avatarTime {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #79828b;
  margin: 0px;
}

.projectCard h4 {
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #42505c;
}

.projectCard h4 span {
  color: #79828b;
}