.headerBg {
  height: 240px;
  width: 100%;
  background-image: linear-gradient(247deg, #6a79dd 127%, #5866c3 -24%);
  z-index: -10;
  position: absolute;
}

nav > div > ul > li > a,
nav > div > ul > li > a:hover {
  opacity: 0.9;
  font-size: 18px;
  font-weight: 500;
  line-height: 0.83;
  letter-spacing: 0.25px;
  color: #ffffff;
}

nav > div > ul > li > a:focus {
  font-weight: 700;
  border-radius: 17px;
  background-color: rgba(255, 255, 255, 0.15);
}

nav > a {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}

.divider {
  width: 100%;
  border: solid 1px #e6ebf0;
  border-radius: 8px;
  margin: 20px 0px 20px 0px;
}

.chipGray {
  border-radius: 16px;
  background-color: rgba(121, 130, 139, 0.1);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  color: #8d99a4;
  padding: 4px 12px 7px 12px !important;
  width: fit-content;
  height: fit-content;
}

.chipBlue {
  composes: chipGray;
  background-color: rgba(98, 113, 210, 0.1);
  color: #6271d2;
  margin: 0px 10px 0px 0px;
}

.chipOrange {
  composes: chipGray;
  background-color: rgba(210, 134, 98, 0.1);
  color: #d28e62;
  margin: 0px 10px 0px 0px;
}

/** Rank Card Specific styles **/
.rankCard h4 {
  font-size: 14px;
  font-weight: 800;
  line-height: 1.07;
  letter-spacing: 1.5px;
  color: #79828b;
  margin-bottom: 16px;
}

.rankCard div[name="rank"] {
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.75px;
  color: #42505c;
}

.rankCard img {
  width: 32px;
  height: 32px;
}

.rankCard p {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #79828b;
  margin-bottom: 0px;
}

.rankCard p span {
  color: #10c172;
}

/* Section header */
.sectionHeader h1 {
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.25px;
  color: #42505c;
}

.sectionHeader a,
.sectionHeader a:hover {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 1.5px;
  text-align: right;
  color: #79828b;
  text-decoration: none;
}

.sectionHeader img {
  width: 14px;
  height: 14px;
}

/** Suggested Projects Card **/

.projectCard img {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.projectCard .content {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #42505c;
  margin: 24px 0px 0px 0px;
}

.projectCard .avatarName {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  color: #42505c;
  margin: 0px;
}

.projectCard .avatarTime {
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #79828b;
  margin: 0px;
}

.projectCard h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #42505c;
}

.projectCard h4 span {
  color: #79828b;
}

/* Banner styles */

.banner {
  border-radius: 10px;
  background-image: linear-gradient(251deg, #8f9df8 125%, #92a0ff -21%);
}

.banner img {
  height: 56px;
  width: 56px;
}

.banner .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 12px;
}

.banner p {
  margin: 0px;
}

.banner .subtitle {
  opacity: 0.75;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}

.banner .button-outline,
.banner .button-outline:focus {
  height: min-content;
  border-radius: 6px;
  border: solid 1px #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.07;
  letter-spacing: 1.75px;
  color: #ffffff;
  background-color: transparent;
  padding: 13px 24px 16px 24px;
  outline: none;
}

.banner .button-outline:active {
  background-color: #6574f6;
  outline: none;
}

.banner .button-solid,
.banner .button-solid:focus {
  height: min-content;
  border-radius: 6px;
  background-color: #6574d6;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.07;
  letter-spacing: 1.75px;
  color: #ffffff;
  padding: 13px 24px 16px 24px;
  outline: none;
}

.banner .button-solid:active {
  background-color: #6574f6;
  outline: none;
}

/* List Item styles */

.listItem p {
  margin: 0px 0px 0px 0px;
}

.listItem p.index {
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #42505c;
}

.listItem p.name {
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #42505c;
}

.listItem p.amount {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #79828b;
}

.listItem img {
  height: 48px;
  width: 48px;
}

/* Top Earners card */

.earners .title {
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 1.5px;
  color: #79828b;
  margin: 0px;
}

.earners .thisMonth,
.earners .thisMonth:hover {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #79828b;
  margin: 0px;
  text-decoration: none;
}

.earners .allTime,
.earners .allTime:hover {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6271d2;
  margin: 0px;
  text-decoration: none;
}


/* Earnings card */

.earningsCard p.title {
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: 1.5px;
    color: #79828b;
}

.earningsCard p.amount {
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    color: #42505c;
}

.earningsCard span.amount{
  font-weight: normal;
  color: #79828b;
}

.earningsCard p.delta {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #79828b;
}

.earningsCard span.delta {
  color: #10c176;
}