/** Suggested Projects Card **/

img.avatar {
  width: var(--avatar-image-size);
  height: var(--avatar-image-size);
}

p.name {
  font-size: 16px;
  font-weight: 500;
  color: #42505c;
}

p.time {
  font-size: 12px;
  color: #79828b;
}

