@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(139deg, #f5f7fa 1%, #f4f6f8 99%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --global_font: 'Poppins', sans-serif;
  --header-height: 240px;
  --card-border-radius: 10px;
  --chip-border-radius: 16px;
  --card-bg-color: #ffffff;
  --card-title-fw: 500;
  --card-emphasis-fw: 800;
  --chip-fw: 500;
  --avatar-image-size : 48px;
}